POSTGRES_VERSION=18-alpine
KAFKA_VERSION=3.8.0

USER_GRPC_SERVER_PORT=9091
ORDER_SERVICE_PORT=8084
ORDER_POSTGRES_PORT=5435
KAFKA_PORT=29092
KC_HTTPS_PORT=8443

ORDER_DB_ROOT_USER=DB_ROOT_USER
ORDER_DB_ROOT_PASSWORD=DB_ROOT_PASSWORD
ORDER_DB_NAME=DB_NAME
ORDER_DB_USERNAME=DB_USERNAME
ORDER_DB_PASSWORD=DB_PASSWORD
ORDER_DB_SCHEMA=order_service

APP_REALM=REALM
APP_CLIENT_ID=CLIENT_ID